services:
  mlflow:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      mlflow server --backend-store-uri postgresql://${PG_USER}:${PG_PASSWORD}@db:5432/mlflow --default-artifact-root artifacts --host 0.0.0.0 --port 8080

    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - mlflow-net
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: mlflow
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - mlflow-net
volumes:
  pgdata:
networks:
  mlflow-net:
